@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shadow-xl {
  --tw-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.toggleMenu:before {
  background-color: rgba(253, 194, 14, var(--tw-bg-opacity));
  z-index: -1;
}

.toggleMenu:after,
.toggleMenu:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  opacity: 1;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.toggleMenu:hover:before {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.5s;
  opacity: 0;
  --tw-scale-x: 1.7;
  --tw-scale-y: 1.7;
}

.navMenu {
  font-size: 2.25rem;
  line-height: 2.5rem;
  transition: all 0s linear 0.7s;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 768px) {
  .navMenu {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .navMenu {
    font-size: 3.75vw;
  }
}

.navMenu:before {
  content: "";
  padding-top: 160vmax;
  width: 160vmax;
  transform: translate3d(55%, -50%, 0);
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(253, 194, 14, var(--tw-bg-opacity));
  opacity: 0;
  transition: opacity 0.3s 0.15s, transform 0.5s 0.15s;
  z-index: -1;
}

@media (min-width: 768px) {
  .navMenu:before {
    padding-top: 180%;
    width: 180%;
  }
}

@media (min-width: 1024px) {
  .navMenu:before {
    padding-top: 115%;
    width: 115%;
  }
}

.navOpen {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.navClose {
  opacity: 0;
}

.navOpen::before {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transform: translate3d(42%, -43%, 0);
  transition-delay: 0s;
  opacity: 1;
  transition-duration: 0.7s;
}
